<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journeys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding center text-center">
    <ion-item *ngFor="let entry of journeys">
      <div>
      <p><b>{{entry.date}}</b></p>
        <div style="display: inline-flex">
          <ion-chip style="margin-top: 8px; margin-right: 5px;">
            <ion-label><b>{{entry.time}} h</b></ion-label>
          </ion-chip>
          <p>{{entry.destination}}</p>
        </div>
        <div style="margin-left: 55px; margin-top: -15px; color: grey; font-size: smaller;">
            <p>Alarm raised: {{entry.alarm}}</p>
            <p style="margin-top: -10px;">Sleeping Time: {{entry.sleepingtime}}s</p>
        </div>
      </div>
    </ion-item>
</ion-content>
