ion-header{
    --ion-background-color:#ffffff;
}

ion-title{
    text-align: center;
}


ion-col{
    width: 33vw;
    text-align: center;
    border: 1px solid #00ADB5;
    text-decoration-color: #47525E;
}

ion-select{
        max-width: 100% !important;
    }