<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statistiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">
     <ion-item>
        <ion-label>date</ion-label>
        <ion-select interface="popover" (ionChange)="onChange($event)">
          <ion-item *ngFor="let entry of listdate">
            <ion-select-option value="{{entry}}">{{entry}}</ion-select-option>
          </ion-item>
        </ion-select>
     </ion-item>
  </ion-list-header>

  <ion-card class="welcome-card">
    <ion-item *ngIf="!dateSelected">
      Please select a date
    </ion-item>
    <ion-card-header *ngIf="dateSelected">
      <ion-card-subtitle>Evolution of the cardiaque rythme on</ion-card-subtitle>
      <ion-card-title>{{dateNow}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
    <ion-button color="secondary" *ngIf="dateSelected" disabled="{{!possiblePrevious}}" (click)="minusShift()">Previous data</ion-button>
    <ion-button color="secondary" *ngIf="dateSelected" disabled="{{!possibleNext}}" (click)="addShift()">Next data</ion-button>
  </ion-card>
</ion-content>
